body.about {
  h1 {
    line-height: 40px;
    margin: 0 0 20px;
  }
  p {
    margin: 0 0 20px;
  }
  .images {
    height: 230px;
    margin: 20px 0;
    text-align: center;
    img {
      margin: 0 20px;
    }
  }
}
