.archive-year {
	width: 80px;
	float: left;
	h2 {
		letter-spacing: 2px;
    line-height: 40px;
    margin: 0;
	}
}

.archive-article {
	top: 10px;
	margin-left: 100px;
	article {
    margin-bottom: 20px !important;
		//background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
    h1 {
      a {
        font-size: 22px !important;
      }
    }
	}
}
