%nav{role: 'navigation'}
  %ul{class: 'main-navigation'}
    %li
      = link_to 'Главная', '/'
    %li
      = link_to 'Архив выпусков', '/archive'
    %li.search
      .wrap
        <input type="text" placeholder="Поиск..." value="" onsubmit="return false;" id="searchmenui_search" class="" name="search">
