%nav{role: 'navigation'}
  %ul{class: 'main-navigation'}
    %li
      = link_to 'Главная', '/'
    %li
      = link_to 'Архив выпусков', '/archive.html'
    %li.search
      .wrap
        <input type="text" placeholder="Поиск..." value="" onsubmit="return false;" id="st-search-input" class="" name="st-search-input">
        #st-results-container
