<!--  AdRiver code START. Type:240x400 Site: Rubynonam PZ: 0 BN: 0 -->
<script type="text/javascript">
var RndNum4NoCash = Math.round(Math.random() * 1000000000);
var ar_Tail='unknown'; if (document.referrer) ar_Tail = escape(document.referrer);
document.write(
'<iframe src="' + ('https:' == document.location.protocol ? 'https:' : 'http:') + '//ad.adriver.ru/cgi-bin/erle.cgi?'
+ 'sid=193424&target=blank&bt=22&pz=0&rnd=' + RndNum4NoCash + '&tail256=' + ar_Tail
+ '" frameborder=0 vspace=0 hspace=0 width=240 height=400 marginwidth=0'
+ ' marginheight=0 scrolling=no></iframe>');
</script>
<noscript>
<a href="//ad.adriver.ru/cgi-bin/click.cgi?sid=193424&bt=22&pz=0&rnd=1854802770" target=_blank>
<img src="//ad.adriver.ru/cgi-bin/rle.cgi?sid=193424&bt=22&pz=0&rnd=1854802770" alt="-AdRiver-" border=0 width=240 height=400></a>
</noscript>

<!--  AdRiver code END  -->
